.mainNavigation {
  height: 4.5rem;
  background-color: #f97316;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainNavigation ul {
  display: flex;
}

.mainNavigation ul li {
  margin: 10px;
}

.navHome {
  border-radius: 20px;
  padding: 10px;
  transition: background-color 1s ease-in-out;
  display: flex;
  margin-right: 20px;
}

.navHome li:hover {
  background-color: #ea580c;
}

.littleBox {
  display: inline-block;
}

.littleBox button {
  display: none;
  background-color: blue;
}

.littleBox:hover button {
  display: block;
}

.nav-box {
  display: flex;
}
